@{
    ViewData["Title"] = "Delete";
}
@model Bowler
<h1>Delete</h1>

<form method="post">
   
    <p>Are you SURE you want to delete the record for @Model.BowlerFirstName @Model.BowlerLastName?</p>
    <input asp-for="BowlerID" hidden />

    <button type="submit" class="btn btn-sm btn-danger">Yes</button>
    <button asp-controller="Team" asp-action="TeamView" class="btn btn-sm ">Cancel</button>

</form>