@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Bowler
<h1>Delete</h1>

<form method="post">

    <p>Are you SURE you want to delete the record?</p>

    <button type="submit">Yes</button>
    <button asp-action="ContactList">Cancel</button>

</form>