@{
    ViewData["Title"] = "Edit";
}
@model Bowler
<h1>Edit</h1>

<form method="post">
    <input asp-for="BowlerID" type="hidden" />

    <label asp-for="BowlerFirstName">Bowler First Name:</label>
    <input asp-for="BowlerFirstName" />
    <br />

    <label asp-for="BowlerMiddleInit">Bowler Middle Name:</label>
    <input asp-for="BowlerMiddleInit" />
    <br />


    <label asp-for="BowlerLastName">Bowler Last Name:</label>
    <input asp-for="BowlerLastName" />
    <br />

    <label asp-for="BowlerAddress">Address:</label>
    <input asp-for="BowlerAddress" />
    <br />

    <label asp-for="BowlerCity">City:</label>
    <input asp-for="BowlerCity" />
    <br />

    <label asp-for="BowlerState">State:</label>
    <input asp-for="BowlerState" />
    <br />

    <label asp-for="BowlerZip">Zip:</label>
    <input asp-for="BowlerZip" />
    <br />

    <label asp-for="BowlerPhoneNumber">Phone:</label>
    <input asp-for="BowlerPhoneNumber" />
    <br />

    <label asp-for="TeamID">Team:</label>
    <select asp-for="TeamID">
        @foreach (Team t in ViewBag.Teams)
        {
            <option value="@t.TeamID">@t.TeamName</option>
        }
    </select>
    <br />

    <button class="btn btn-success" type="submit">Add</button>
    <button class="btn btn-dark" asp-controller="Team" asp-action="TeamVIew">Cancel</button>
</form>